<h1>Economic Cycle Project</h1>

<p> In the following study:

“Òscar Jordà, Moritz Schularick, and Alan M. Taylor. 2017. “Macrofinancial History and the New Business Cycle Facts.” in NBER Macroeconomics Annual 2016, volume 31, edited by Martin Eichenbaum and Jonathan A. Parker. Chicago: University of Chicago Press."

the researchers aim to provide convenient no-cost open access under a license to the most extensive long-run macro-financial dataset to date. The database covers 17 advanced economies since 1870 on an annual basis. It comprises 25 real and nominal variables such as bank credit to the non-financial private sector, mortgage lending and long-term house prices. The database captures the near-universe of advanced-country macroeconomic and asset price dynamics, covering on average over 90 percent of advanced-economy output and over 50 percent of world output.

In this project we will use machine learning algorithm to predict the economic cycle, natural fluctuation of the economy between periods of expansion (growth) and contraction (recession).

The data for this project can be downloaded from this original source: http://www.macrohistory.net/data/.
</p>
    

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev" class="alert-link">Getting Started on Heroku with Heroku Connect</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this tutorial works</h3>
      <ul>
        <li>This app was deployed to Heroku by clicking the <a href="https://github.com/heroku/no-local-dev-getting-started">Heroku Button</a> in the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">tutorial</a>.</li>
        <li>Heroku Button transfers the source code for the application, transfers any app dependencies, builds and deploys the app on Heroku, and provisions a web domain for it too.</li>
        <li>The app will also provision a Heroku Postgres database, and a Heroku Connect add-on, one of over <a href="https://elements.heroku.com/addons">150 add-on services</a>.</li>
        <li>Heroku Connect provides seamless data synchronisation between a Heroku Postgres database and a Salesforce Org.  Clicking the "Connect with your Salesforce Org" configures Heroku Connect to perform this sync. </li>
      <li>Check out the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
        <li><a href="https://devcenter.heroku.com/articles/herokuconnect">Heroku Connect</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku and Heroku Connect, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
